<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <%=
    number = params[:number]
    phrase = params[:phrase]
    number.times do
      "#{phrase}"
     %>

  </body>
</html>
